/*Общие стили*/
body{
    font-family: 'Playfair Display', serif;
}

a:hover{
    text-decoration: none;
    color: #000;
}

/*Общие стили -> Текст*/
.h1{
    /* font-size: 144px; */
    /* font-size: 10vh; */
    font-size: 15vh;
    font-weight: 900;
}

.h3{
    /* font-size: 28px; */
    font-size: 2.5vh;
    font-weight: bold;
}

.p-mini{
    /* font-size: 19px; */
    font-size: 1.9vh;
    line-height: 130%;
}

/*Общие стили -> Отдельные элементы*/
.line{
    /* height: 5px; */
    height: 0.3vh;
    width: 100%;
    background-color: #000;
}

/*Стили для страниц -> Главная*/
.main{
    min-height: 100vh;
    overflow: hidden;
}

.main__img{
    background-image: url("../img/main_image.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.line--main{
    /* margin-top: 54px; */
    margin-top: 3.5vh;
}

.line--main2{
    /* margin-top: 16px; */
    margin-top: 1.25vh;
    margin-right: 23px;
}

.main__menu{
    /* margin-top: 88px; */
    margin-top: 5vh;
}

.main__menu-menu{
    /* margin: 0; */
    padding: 0;
    list-style-type: none;
    margin-left: 33px;
}

.main__menu-el a{
    /* -webkit-text-stroke: 1px black;
    font-size: 64px; */
    color: transparent;
    -webkit-text-stroke: 0.5px black;
    letter-spacing: 0.035em;
    font-size: 5vh;
    line-height: 111%;
    font-weight: bold;
    transition: .2s;
}

.main__info{
    margin-top: 10vh;
}

.p-mini--main{
    /* margin-top: 28px; */
    margin-top: 3vh;
}


/*Стили для страниц -> Инсталяции*/
.instalations{
    margin-top: 46px;
}

.instalations__menu, .instalations__submenu{
   margin-left: 0;
   list-style-type: none;
}

.instalations__menu-btn, .instalations__submenu-btn{
    font-weight: bold;
    letter-spacing: 0.035em;
    display: block;
    /* border: none; */
    /* cursor: pointer; */
}

.instalations__menu-btn{
    font-size: 5vh;
    color: transparent;
    -webkit-text-stroke: 0.5px black;
    transition: .3s;
}

.instalations__menu-btn--active{
    color: #000;
}

.instalations__submenu{
    display: none;
    margin-left: -15px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.instalations__menu-btn--active + .instalations__submenu{
    display: block;
} 

.instalations__submenu-btn{
    font-weight: normal;
    font-size: 2.5vh;
    color: #000;
}

.instalations__separator{
    width: 100px;
    height: .3vh;
    margin: 2vh 0;
    background-color: #000;
}

.instalations__title{
    margin: 1vh 0;
    font-weight: normal;
    font-size: 2.5vh;
    line-height: 8vh;
}

.instalations__works{
    display: flex;
    flex-wrap: wrap;
}

.instalations__works .work:nth-child(odd){
    margin-right: 10px;
}

.work{
    position: relative;
    display: block;
    padding: 0;
    height: 30vh;
    margin-bottom: 10px;
}

.work:hover .work__body{
    opacity: 1;
}

.work_bg{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.work__body{
    opacity: 0;
    display: flex;
    transition: .3s;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.work__title, .work__country, .work__year{
    margin: 1.5vh;
    color: #fff;
}

.work__title{
    font-size: 3vh;
}

.work__footer{
    display: flex;
    justify-content: space-between;
}

.work__country, .work__year{
    font-size: 1.9vh;
}